.container{
  display: flex;
  border: 10px solid black;
  height: 90vh;
  align-self: center;
  
}

.box {
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: center;
  border-radius: 15px;

}
#box1 {

  background-color: blueviolet;
}
#box2 {
  background-color: aqua;
  align-self: centre;
}
#box3 {
  background-color: blue;
}
#box4 {
  background-color: brown;
}ssssssssssss